.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/* 
.item {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #006a3292;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 900px;
    height: 410px;
    margin: 20px;
    padding: 20px;
}
.item section {
    height: 400px;
    width: 560px;
    position: absolute;
    margin-left: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item img {
    width: 270px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}
 */
.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #006a32;
    color: #006a32;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #006a32;
}

.paginationActive a {
    color: white;
    background-color: #006a32;
}

.paginationDisabled a {
    color: white;
    background-color: #375646;
}
